//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.



$yellow: #fecb00;
$green: #bed600;
$blue: #0094b3;
$teal: #006778;
$navy: #003d4c;
$dtext: #4a4a4a;
$white: #ffffff;
$off-white: #f7f7f7;
$black: #363636;
$red: #a60000;



//== Scaffolding
//
//## Settings for some of the most global styles.
